header 
     nav 
        ul
            li 
                a(href="glav.html") Главная
            li
                a(href="ONas.html") О нас
            li
                a(href="rassilka.html") Рассылка
            li 
                a(href="Yslyge.html") Услуга 