doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="styles/sttle.css")
    body         
        include modules/header 


        div.main
            h1 ОКНА С ЗАВОДА
            P Окна с монтажом - пожизненная гарантия
            p Окна без монтажа - эокномия до 25%



        include modules/footer