doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="styles/sttle.css")
    body         
        include modules/header 
        div.Onas
            div.infa
                h1 Точная стоимость вашего заказа уже сегодня 
                p Специалист может приехать к вам на замер и назвать окончательную 
                p цену за 25 минут - сегодня, или в любое другое удобное время. Это 
                p бесплатно!
                h1 Гарантируем соблюдение сроков
                p Стандартные прямоугольные изделия изготовим за 4 дня. Дату и время
                p доставки согласуем с вами дополнительно с учетом вашей занятости.
                h1 Абсолютное спокойствие за результат
                p На все окна вы получаете заводскую гарантию, закрепленную в паспорте
                p уникальным номером Вашего заказа
                h1 Легко оформить заказ
                p Чтобы заказать окна, вам не нужно никуда идти: позвоните нам по
                p указанным телефонам либо оставьте заявку на сайте
                h1 Только приятные эмоции
                p Вы получите приятный подарок от Окна Завода. Поверьте, о ваших
                p новых окнах захочется рассказать друзьям.
            div.kartinka

    




        include modules/footer