doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="styles/sttle.css")
    body         
        include modules/header 
        
        div.rass
            p Подписаться на новостную рассылку
        div.pole
            div.email
                input(type="email" placeholder="Email")
            button Отправить


    




        include modules/footer